/* styles.css */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.navbar{
  background-color: darkblue;
  padding: 1rem;
}

.nav-links{
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.nav-links li a{
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: white; 
}

.hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

